<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<servlet>
    <servlet-name>ModifyInfo</servlet-name>
    <servlet-class>controller.ModifyInfo</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ModifyInfo</servlet-name>
    <url-pattern>/ModifyInfo</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>ModifyPsw</servlet-name>
    <servlet-class>controller.ModifyPsw</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ModifyPsw</servlet-name>
    <url-pattern>/ModifyPsw</url-pattern>
  </servlet-mapping>

</web-app>